[user]
	email = franklyn@tackitt.net
	name = Franklyn Tackitt
	signingkey = franklyn@tackitt.net

[core]
	excludesfile = /home/frank/.gitignore_global
	attributesfile = /home/frank/.gitattributes_global

[push]
	default = matching
	gpgSign = if-asked

[web]
	browser = google-chrome-stable

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit

[color]
	ui = auto

[fetch]
	prune = true

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[diff "pdf"]
  textconv = pdftotext-stdout

[diff "json"]
	textconv = python -m json.tool
